*.pyc
*.so
.idea
.eggs

.vscode/
.idea/

horovod.egg-info
dist
build
docs/_build

env
venv/

examples/**/checkpoint*

horovod/tensorflow/mpi_lib.so
horovod/torch/test_cuda/

docs/Horovod测试机/horovod.pem
docs/Horovod测试机/微信图片_20201010145508.png
